{% extends "public/layout.njk" %}

{% block filter %}
<form class="filter" action="/foodfy/recipes" method="get" >
    <input type="text" name="filter" placeholder="Buscar uma receita" >
    <button class="filterButton">Buscar</button>
</form>
{% endblock filter %}

{% block content %}
<div id="billboard">
    <div class="content_billboard">
        <h1>As melhores receitas</h1>
        <p>Aprendas a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
    </div>
    <div class="img_billboard">
        <img src="_img/chef.png" alt="Mascote Chef">
    </div>
</div>

<h2>Mais acessadas</h2>

<section class="recipes">
    {% for recipe in recipes %}
        <div class="recipe" id="{{recipe.id_recipe}}">
            <div class="recipe_img">
                <img src="{{recipe.src  }}" alt="Imagem do {{recipe.title}}">
            </div>
            <div class="recipe_content">
                <p>{{recipe.title}}</p>
            </div>
            <div class="chef_recipe">
                <p>por {{recipe.chef_name}}</p>
            </div>
        </div>
    {% endfor %}

</section>
{% endblock content %}

{% block modal %}
<div class="modal_overlay">
    <div class="modal">
        <img class="img_modal" src="" alt="">
        <div class="modal_content">
            <p class="text_content"></p>
        </div>
        <div class="modal_chef">
            <p class="chef"></p>
        </div>
        <div class="close_modal">
            <a>Fechar modal</a>
        </div>
    </div>
</div>
{% endblock modal %}