{% extends "../layout.njk" %}

{% block content %}
<section class="editAdmin">
    <form action="/admin/chefs?_method=PUT" class="createChef" method="post" enctype="multipart/form-data">
        <div class="header">
            <h3>Editando o Chef</h3>
            <input type="hidden" name="id" value="{{chef.id}}">
            <button type="submit">Salvar chef</button>
        </div>
        <p>Nome</p>
        <input type="text" name="name" value="{{chef.name}}">
        <p>Avatar</p>
        <div id="container-img">
            <div id="add-img-avatar">
                <input 
                    id="avatar_img" 
                    type="file" 
                    name="image"  
                    accept="image/*" 
                    onchange="ImgChefUpload.handleFileInput(event)"
                >
                <p>Enviar Avatar</p>
            </div>
            <div id="img-avatar-preview">
                {% if avatar %}
                    <div class="avatar_img" id={{avatar.id}}>
                        <img src="{{avatar.src}}" alt="{{avatar.name}}">
                        <span class="material-icons" onclick="ImgChefUpload.removeOldPhoto(event)">close</span>
                    </div>
                    <input type="hidden" name="removed_files">
                {% endif %}
            </div>
        </div>
    </form>
    <form action="/admin/chefs?_method=DELETE" method="post">
        <input type="hidden" name="id" value="{{chef.id}}">
        <button id="deleteChef" type="submit">Deletar</button>
    </form>
</section>
    
{% endblock content %}