@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --color-black: #111111;
    --color-grey: #777777;
    --color-light-gray: #999999;
    --color-dark-gray: #444444;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-black);
    margin: 0;
}

.main{
    width: 60%;
    min-width: 600px;
    margin: 0 auto;
}

#publicHeader {
    position: relative;
    margin-top: 36.1px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

#publicHeader .links {
    display: grid;
    grid-template-columns: 37% 13% 15% 15%;
}

#publicHeader .links a img {
    margin-right: 9%;
}

#publicHeader .links a {
    font-size: 16px;
    color: var(--color-black);
    line-height: 19px;
    text-decoration: none;
    margin-right: 2.1%;
}

#publicHeader .links a:hover {
    font-weight: bold;
    color: rgb(252, 201, 193);
}

#publicHeader .links a.active {
    color: rgb(252, 201, 193);
    font-weight: bold;
}

#publicHeader .filter {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 91px;
    gap: 8px;
}

#publicHeader .filter input {
    height: 37px;
    width: 246px;
}

.filter .filterButton {
    height: 37px;
    width: 91px;
    border-radius: 4px;
    background-color: #6558C3;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

.mainAdmin{
    width: 60%;
    margin: 0 auto;
    position: relative;

}

.logoAdmin {
    background-color: var(--color-black);
    color: #FFFFFF;
    padding: 25px;
    margin-bottom: 50px;
}

.logoAdmin a {
    font-weight: bold;
    color: #999999;
    font-size: 15px;
    list-style: 19px;
    margin-right: 30px;
    text-decoration: none;
}

.logoAdmin a.active {
    color: #FFFFFF;
}

.logoAdmin img {
    margin-left: 20%;
    margin-right: 80px;
}

#billboard {
    margin-bottom: 50px;
    background-color: #FBDFDB;
    min-width: 940px;
    height: 366px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17.7%;
}

.content_billboard{
    margin: 117px 0 0 60px;
}

.content_billboard h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}

.content_billboard p {
    padding-top: 10px;
    color: #000000;
    font-size: 16px;
    line-height: 28px;
    width: 316px;
    opacity: 70%;
}

.img_billboard img {
    margin: 66px 100px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: var(--color-black);
    height: 28px;
    width: 174px;
}

.recipes {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
    margin-top: 72px;
}

.card_recipe_filter {
    margin-top: 20px;
}

.recipe {
    cursor: pointer;
}

.recipe_img img {
    height: 140px;
    width: 360px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.recipe_content {
    font-weight: normal;
    color: var(--color-black);
    font-size: 18px;
    line-height: 21px;
    margin-top: 20px;
}

.chef_recipe {
    color: var(--color-grey);
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.recipes.showRecipes{
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 20px;
    position: relative;
}

.manageRecipes .headerManageRecipes,
.headerChefs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.manageRecipes .headerManageRecipes h3{
    font-weight: bold;
    color: var(--color-black);
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
}

.recipeAdmin {
    display: grid;
    grid-template-columns: 192px 1fr;
    gap: 8px;
}
.recipe_img_admin img {
    height: 80px;
    width: 172px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.recipeAdmin .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe_content_admin {
    font-weight: normal;
    color: var(--color-black);
    font-size: 18px;
    line-height: 21px;
}

.chef_recipe_admin {
    color: var(--color-grey);
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.recipeAdmin a {
    font-weight: bold;
    color: #6558C3;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.footer {
    position: relative;
    bottom: 0;
    height: 3%;
    width: 100%;
    background-color: #EEEEEE;
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
}

.footer p {
    color: var(--color-light-gray);
    font-size: 14px;
    line-height: 16px;
}

.sectiontext {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sectiontext h1 {
    color: var(--color-black);
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sectiontext h2 {
    font-weight: bold;
    color: var(--color-black);
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    width: 300px;
}

.sectiontext p {
    color: var(--color-dark-gray);
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}

.modal_overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

.modal_overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: #FFFFFF;
    margin: 22vh auto;
    text-align: center;
    width: 40%;
    height: 50%;
    border-radius: 16px;
    position: relative;
}

.modal .img_modal {
    border-radius: 40px;
    width: 90%;
    height: 50%;
    padding: 30px 30px 20px;
}

.modal_content p {
    color: var(--color-black);
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    padding-bottom: 5px;
}

.modal_chef {
    color: var(--color-grey);
    font-size: 15px;
    line-height: px;
    text-align: center;
}

.close_modal {
    padding-top: 40px;
    padding-bottom: 30px;
    
}

.close_modal a {
    color: var(--color-light-gray);
    font-size: 13px;
    line-height: 19px;
    text-align: center; 
    cursor: pointer;
}

/* PARTE DA CRIAÇÃO*/

.createdAdmin button[type="submit"]{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    background-color: #6558C3;
    padding: 9px 20px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

/*PARTE DA EDIÇÃO*/

.showEditAdmin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 26px;
}

.showEditAdmin a,
.manageRecipes .headerManageRecipes a,
.headerChefs a,
.headerDetailsChef a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    background-color: #6558C3;
    padding: 9px 20px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.showEditAdmin h3 {
    font-weight: bold;
    color: var(--color-black);
    font-size: 24px;
    line-height: 28px;    
}

.editAdmin {
    position: relative;
}

.editAdmin h3, .createdAdmin h3 {
    font-weight: bold;
    color: var(--color-black);
    font-size: 24px;
    line-height: 28px;
}

.editAdmin button[type="submit"] {
    position: absolute;
    right: 0;
    display: block;
}

.editAdmin #buttonDelete {
    top: 0;
    margin-right: 160px;
    margin-top: 28px;
    background-color: #DC4747;
}

#deleteChef {
    position: absolute;
    top: 0;
    background-color: #DC4747;
    right: 135px;

}

.buttonAdmin {
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

button[type="submit"]{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    background-color: #6558C3;
    padding: 9px 20px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.buttonAdmin #buttonDelete{
    background-color: #DC4747;
}

.itemRecipe {
    margin: 30px 0;
}

.itemRecipe #add-img {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 3.5PX;
    border: 1px solid #DDDDDD;
}

.itemRecipe #add-img span {
    width: 100%;
    height: 100%;
    font-size: 35px;
    color: #777777;
    text-align: center;
    margin-top: 55px;
}

.itemRecipe  #img-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#ingredients input {
    margin-bottom: 12px;
}

textarea {
    padding: 10px;
    min-width: 100%;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    color: #555;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

.info-add {
    height: 257px;

}

.titleCreated {
    font-weight: bold;
    color: var(--color-black);
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}

input,
select {
    width: 100%;
    height: 49px;
    padding-left: 16px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #111111;
    font-size: 14px;
}

.add-ingredient, .add-preparation {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #6558c3;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    background-color: white;
    cursor: pointer;
}


.imgRecipe {
    padding-bottom: 50px;
}

.imgRecipe img {
    min-width: 100%;
    height: 280px;
    border-radius: 15px;
    
}

.title {
    text-align: center;
}

.title h1 {
    font-weight: bold;
    color: var(--color-black);
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 4px;
}

.title p {
    color: var(--color-grey);
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 50px;
}

h3 a {
    font-weight: bold;
    color: var(--color-light-gray);
    font-size: 12px;
    line-height: 14px;
    padding-top: 12px;
    cursor: pointer;
}

.ingredients,
.preparation {
    position: relative;
    padding-bottom: 40px;
}

.content_ingredients.active {
    visibility: hidden;
    display: none;
}

.ingredients h3 {
    padding-bottom: 20px;
    font-weight: bold;
    color: var(--color-black);
    font-size: 24px;
    line-height: 28px;
}

.ingredients ul,
.preparation ul {
    margin-left: 19px;
}

.ingredients li,
.preparation li {
    color: var(--color-dark-gray);
    font-size: 18px;
    line-height: 28px;
    padding: 4px;
}

.preparation_fields input {
    margin-bottom: 12px;
}

.content_preparation.active {
    visibility: hidden;
    display: none;
}

.preparation h3 {
    font-weight: bold;
    color: var(--color-black);
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 20px;
}

.preparation p {
    color: var(--color-dark-gray);
    font-size: 18px;
    line-height: 28px;
}

.content_information.active {
    visibility: hidden;
    display: none;
}

.information h3 {
    font-weight: bold;
    color: var(--color-black);
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 20px;
}

.information p {
    color: var(--color-dark-gray);
    font-size: 18px;
    line-height: 36px;
}

.not-found {
    text-align: center;
    font-size: 50px;
    padding: 150px 0 330px;
}

.mainAdmin .header {
    display: grid;
    grid-template-columns: 1fr 141px;
    margin-bottom: 30px;
}

.mainAdmin .header .delete {
    background-color: #DC4747;
}

.mainAdmin .header button:hover {
    background-color: #4635c5;
}

.mainAdmin .header h3,
.mainAdmin h3 {
    font-weight: bold;
    color: #111111;
    font-size: 24px;
    line-height: 28px;
}

.mainAdmin .createChef p{
    font-weight: bold;
    color: #111111;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
} 

.mainAdmin .createChef input {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 19px;
}

.mainAdmin .chefs .card_chefs img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.mainAdmin .chefs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 60px;
    margin-top: 30px;
}

.mainAdmin .chefs .card_chefs{
    display: grid;
    grid-template-columns: 84px 1fr;
    
}

.mainAdmin .chefs .card_chefs div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainAdmin .chefs .card_chefs p {
    color: #111111;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
}

.mainAdmin .chefs .card_chefs a {
    font-weight: bold;
    color: #6558C3;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.headerDetailsChef {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 42px;
}

.detailsChef {
    text-align: center;
    margin-bottom: 50px;
}

.detailsChef img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-bottom: 30px;
}

.detailsChef h1 {
    font-weight: bold;
    color: #111111;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 4px;
}

.detailsChef p {
    color: #777777;
    font-size: 20px;
    line-height: 24px;
}

.recipes_chef h3 {
    margin-bottom: 30px;
}

.chefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 30px;
}

.chefs .card_chef {
    display: grid;
    grid-template-columns: 65px 1fr;
    gap: 20px;    
}

.chefs .card_chef img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.chefs .card_chef div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chefs .card_chef div h4 {
    font-weight: normal;
    color: #111111;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
}

.chefs .card_chef div p {
    color: #666666;
    font-size: 14px;
    line-height: 16px;
}

.filterRecipes {
    font-size: 28px;
    line-height: 32px;
    margin-top: 52px;
}