{% extends "admin/layout.njk" %}

{% block content %}
<section class="manageRecipes">
    <div class="headerManage">
        <h3>Gerenciar Receitas</h3>
        <a href="/admin/recipes/create" class="buttoncreate">Nova Receita</a>
    </div>

    <section id = "page_recipes" class="recipes showRecipes">
        {% for recipe in recipes %}
            <div class="recipeAdmin" id="{{recipe.id}}">
                <div class="recipe_img_admin">
                    <img src={{recipe.src}} alt="Imagem do {{recipe.title}}" onerror="this.onerror=null;this.src='../../../../../_img/no-photo.jpg'">                    
                </div>
                <div class="content">
                    <div class="recipe_content_admin">
                        <p>{{recipe.title}}</p>
                    </div>
                    <div class="chef_recipe_admin">
                        <p>por {{recipe.name}}</p>
                    </div>
                    <div>
                        <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                    </div>
                </div>
            </div>
        {% endfor %}    
    </section>
</section>
{% endblock content %}