{% extends "admin/layout.njk" %}

{% block content %}
    <div class="showEditAdmin">
        <h3>Receita: {{recipe.title}}</h3>
        <a href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
    </div>

    <div class="container_img">
        <div class="imgRecipe">
            {% if not files %}
                <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" alt="SEM FOTO">
            {%else%}
                <img src="{{files[0].src}}" alt="{{files[0].name}}" onclick="Lightbox.open()">
            {% endif %}
            <div class="lightbox-target">
                    <img src="{{files[0].src}}" alt="{{files[0].name}}">
                    <a href="#" class="lightbox-close" onclick="Lightbox.close()">
                        <span class="material-icons">close</span>
                    </a>
                </div>
        </div>
        <div class="gallery-preview">
            {% for image in files %}
                <img 
                    src="{{image.src}}" 
                    alt="{{image.name}}"
                    {%if loop.index0 == 0 %}
                        class="active"
                    {%endif%}  
                    onclick = "ImageGallery.setImage(event)"  
                >
            {% endfor %}

        </div>

    </div>

    <div class="title">
        <h1>{{recipe.title}}</h1>
        <p>por {{recipe.chef}}</p>
    </div>

    <div class="ingredients">
        <h3>Ingredientes <a class="showHideIng">ESCONDER</a></h3>

        <div class="content_ingredients">
            <ul>
                {% for ingredients in recipe.ingredients %}
                    <li>{{ingredients}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="preparation">
        <h3>Modo de Preparo <a class="showHidePrep">ESCONDER</a></h3>

        <div class="content_preparation">
            <ul>
                {% for preparation in recipe.preparation %}
                    <li>{{preparation}}</li>
                {% endfor %}
            </ul>
            
        </div>
        
    </div>

    <div class="information">
        <h3>Informação adicionais <a class="showHideInfo">ESCONDER</a></h3>

        <div class="content_information">
            <p>{{recipe.information}}</p>
        </div>
        <br>
    </div>

{% endblock content %}